#project-list{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 10px;
    background-color: var(--white);
}

.allProjectsContainer{
    background-color: var(--white);
}

.categories{

    background-color: var(--white);
}