@import "../vars";

.back-to-project{
    display: flex;
    justify-content: center;
    margin: -200px auto;
    padding: 0px;
   
}

/* Media Query */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
    .heroVid{
        margin: 40px 40px;
        object-fit: contain;
    }
    .back-to-project{
        display: flex;
        justify-content: center;
        margin: -300px auto;
        padding: 0px;
       
    }
    
    }

    /* @media only screen and (min-width: 1024px){
    
    
      
    
        #line2, #line4{
            font-size: 3rem;
            margin-right: 300px;
        }
    
        #line1, #line3{
            font-size: 5rem;
            margin-right: 150px;
        }

     
        .heroVid{
      
            margin: 50px;
            object-fit:scale-down;
            height: 100%;
            width:70%;
       
        }  
    } */
