@import '../vars.css';



.projectHero{
    width: 100%;
    height: auto;
}

.lightImg{
    object-fit: cover;
    width: 100%;
    height: auto;
}




.italic{
    font-style:italic;
}

#line1{
    margin-left: 15%;
    font-size: 3.5rem;
}

#line2{
    margin-left: 35%;  
}

#line3{
    margin-left:15% ;
    font-size:3.5rem ;
}

#line4{
    margin-left: 40%;
}

.form{
    background-color: var(--grey);
}

h1{
    padding-top: 80px;
    text-align: center;
    font-family: var(--heading);
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 40px;
}

.sub-head{
    font-family: var(--text);
    font-weight: normal;
    font-size:larger;
    padding: 20px 20px;
}

.newProjectForm{
    background-color: var(--white);
    border-radius: 15px;
    margin: 30px auto;
   width: 80%;
    padding: 30px;
}

.orange{
    color: var(--orange);
}