.project-card{
    width: 100%;
    color: var(--black);
}

.project-card img{
    width: 100%;
    border-radius:50%;
    height: 350px;
    object-fit: cover;
}

.projectLink{
    color: var(--black);
    text-decoration: none;
}