@import '../vars.css';

.projectPage{
    margin:150px auto;
    background: var(--black);
   
}
.project-details{
    background: var(--grey);
}

.project-image{
    position: relative;
    overflow: hidden;
    background: var(--blue);
    padding: 30px;
   border-radius: 15px;
   margin:40px 20px;
  
}

#project-image{
    border-radius: 15px;
    width:100%;
    height: auto;
}

.project-title{
    margin: 0 10px;
}

.project-details{
   margin:60px auto;
   background: var(--black);
   color: var(--white);
}

.divide{
    border-top: 1px var(--black) solid;
    margin-top: 20px;
}

.overlayText-project{
    text-align: center;
    color: var(--white);
    
}

#line1-project{
    font-size: 2.5rem;
    margin-top: 60px;
}

.text-category{
    font-family: var(--heading);
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    margin-bottom:20px;
    /*color: var(--black);*/
}

.pledges-project{
    padding: 50px;
    background: var(--blue);
    color: var(--white);
    border-radius: 15px;
}

.single-pledges{
    margin-top: 30px;
    padding:0;
    display: block;
    
}

.text-pledge{
    font-family: var(--text);
    font-size: 1.25rem;;
}

.list-pledges{
    margin-top: 30px;
   
}

.link{
border:none;
outline:none;
background-color: transparent;
}

.featureButtons{
    display: flex;
    justify-content: center;
}

.featureButtons2{
    display: block;
    justify-content: center;
}

.update-project-form{
    margin: 100px auto;
}

/* Media Query */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
.project-image{
    margin: 40px 40px;
}
}
