@import "../vars.css";

.subcategoryPage{
background-color: var(--orange);
border-radius: 15px;
padding:30px;
}

.subcategory1{
background-color: var(--black);
}

.categories{
    background-color: var(--white);
    background: white;
    
}

.categories2{
    background-color: lightgray;
    margin:30px 10px;
    border-radius: 15px;
    padding: 30px;
}

/* Media Query */
@media only screen and (min-width:1280px) {
    .subcategoryPage {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Two columns of equal width */
        gap: 40px; 
        margin: 20px auto; 
        padding: 40px; 
      }

}