.subcategory{
background-color: var(--white);
}

.subcategory1{
background-color: white;
}

.categories{
    background-color: var(--white);
    background: white;
    
}

.categories2{
    background-color: lightgray;
    margin:50px 10px;
    border-radius: 15px;
    padding: 30px;
}