@import '../vars.css';


.hero{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
   position: relative;
   overflow: hidden; /*ensures the vid stays within the boundaries*/
}

.heroImg{
    margin-top:50px;
    margin-bottom:50px;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.heroVid{
   
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.search{
    color: var(--white);
    border: 0.5px solid white;
    margin: 90px 20px 30px 20px;
    z-index:0;
}

.overlayContainer{
    margin: 100% 0;
    width: 100vw;
    height: 100vh;
 
}

.overlay{
        position: absolute; 
        bottom:0;
        margin: 0px;
        padding:10px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); 
        color: var(--white); 
        width: 100vw;
        height: 100%;
        transition: .5s ease;
        opacity:1;
        color: var(--ivory);
       text-align: center;
                     
}

.overlayText{
    margin-top:30px;
    line-height: 1;
    color: var(--white);
    font-family: var(--heading);
    font-weight:lighter;
    font-size: 2.5rem;
    z-index: 1;     
}

.arrow{
   margin-top: 5%;
    margin-right: 80%;
}

.italic{
    font-style:italic;
}

#line1{
    margin-left: 15%;
    font-size: 3.5rem;
}

#line2{
    margin-left: 35%;  
}

#line3{
    margin-left:15% ;
    font-size:3.5rem ;
}

#line4{
    margin-left: 45%;
}

.cta-button{
    padding: 10px;
    text-align: center;
    margin: 50px 30px;
    border: solid 1px var(--orange);
    border-radius: 15px;
    text-decoration: none;
    color: var(--orange);
   
}

.cta-button:hover{
    color: var(--white);
    text-shadow: 0 0 5px #feeaf6, 0 0 15px #feb9e3, 0 0 20px #fe89d0, 0 0 40px #fe58bc, 0 0 60px #fb0098, 0 0 10px #cb007b, 0 0 98px #ff0000;
}

/*Featured Projects section*/

.features{
    background: var(--black);
   position:relative;
   overflow: hidden; 

}

.featureProjects{
   
    margin: 0 auto;
    position:relative;
    width: auto;
    height:auto;
    padding: 30px;
    border-style: none;
    background: var(--blue);
    border-radius:15px;
  
}

.headingText{
    line-height: 3rem;
    margin: 20px;
    text-align: center;
    color: var(--white);
    font-family: var(--heading);
    font-weight:lighter;
    font-size: 2.5rem;
    z-index: 1;
}

#headingline1{
    margin-left: 20px;
}

#headingline2{
    margin-left:90px;
}

.random-image{
    display: flex;
    justify-content: center;
}


/* How it works section */

.overlayText2{
    margin:30px auto;
    line-height: 1;
    color: var(--white);
    font-family: var(--heading);
    font-weight:lighter;
    font-size: 2.5rem;
    z-index: 1;     
}

.howItWorks{
    margin-top: 60px; 
    background: var(--black);
}

.blurb{
    color: var(--orange);
    background-color: var(--white);
    border-radius: 15px;
    margin: 50px auto;
    width: 80%;
    padding: 30px;
    text-align: center;
}

.text{
    font-family: var(--text);
    font-weight:bolder;
    font-size:1.5rem;
    padding: 20px 20px;
    line-height: 2rem;
}

/*Counter Section*/

.counterContainer{
    margin: 50px 30px; 
    background: var(--green);
    border-radius:5%;
    padding:5px;
    display:flex;
    justify-content: center;
}

.totals{
  padding:15px;  
}

#counterText1{
    margin-top: 50px;
    color: var(--white);
    font-size: 3rem;
}

#counterText2{
    margin: 10px auto;
    font-family: var(--text);
    text-align: center;
    font-size:4rem;
    color: var(--white);
}

#counterText3{
    color: var(--white);
    font-size: 3rem;
}

#counterText4{
    color: var(--white);
}

/* Media Query*/ 

@media only screen and (min-width: 1280px){
    .hero, .heroVid{
        width: 1280px;
        height: 100vh;
    }
        
    }

    @media only screen and (min-width: 768px){
        .hero{
            width: 100vw;
            height: 100%;
            margin: 0 auto;
        }
        .overlayText{
            margin-top:-250px;
            line-height: 20rem;
            color: var(--white);
            font-family: var(--heading);
            font-weight:lighter;
            font-size: 5rem;
            z-index: 1;     
        }
        .overlay{
            margin-top:50px;
        }
        .cta-button{
            margin: 70px 200px;
            padding: 25px;
        }
         .featureProjects{
            margin: 50px 30px;
            padding: 30px;
        } 
        .overlayText2{
            margin:30px 180px;
        }
    
    }
