@import '../vars.css';


.hero{
    z-index: -1;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
   position: relative;
   overflow: hidden; /*ensures the vid stays within the boundaries*/
}

.heroImg{
    margin-top:50px;
    margin-bottom:50px;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.heroVid{
    overflow:hidden;
    width: 100vw;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
   
}

.test{
    z-index: 2;
}

.overlayContainer{
    margin: 500px auto;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.overlay{
        position: absolute; 
        bottom:0;
        margin: 0px;
        padding:10px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); 
        color: var(--white); 
        width: 100%;
        height: 100%;
        transition: .5s ease;
        opacity:1;
        color: var(--ivory);
       text-align: center;
                     
}

.arrow{
    display: flex;
    justify-content: center;
   margin:-150px auto 0px auto;
    padding: 0px;
}

.italic{
    font-style:italic;
}

#line1, #line2, #line3, #line4{
    color: var(--white);
}

#line2, #line4{
    font-size: 2rem;;
}

#line1{
    margin-left: 15%;
    font-size: 3.5rem;
}

#line2{
    margin-left: 35%;  
}

#line3{
    margin-left:15% ;
    font-size:3.5rem ;
}

#line4{
    margin-left: 45%;
}

.cta-button{

    padding: 10px;
    text-align: center;
    margin: 50px 30px;
    border: solid 1px var(--orange);
    border-radius: 15px;
    text-decoration: none;
    color: var(--orange);
   
}

.cta-button:hover{
    color: var(--white);
    text-shadow: 0 0 5px #feeaf6, 0 0 15px #feb9e3, 0 0 20px #fe89d0, 0 0 40px #fe58bc, 0 0 60px #fb0098, 0 0 10px #cb007b, 0 0 98px #ff0000;
}

/*Featured Projects section*/

.features{
    background: var(--black);
   position:relative;
   overflow: hidden; 

}


.featureProjects{
   
    margin: 0 auto;
    position:relative;
    width: auto;
    height:auto;
    padding: 5px;
    border-style: none;
    background: var(--orange);
    border-radius:15px;
  
}

.headingText{
    line-height: 3rem;
    margin: 20px 10px;
    text-align: center;
    color: var(--white);
    font-family: var(--heading);
    font-weight:lighter;
    font-size: 2.5rem;
    z-index: 1;
}

#headingline1{
    margin-left: 20px;
}

#headingline2{
    margin-left:90px;
}

.random-image{
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: 50px 10px 10px 10px;;
}


/* How it works section */

.overlayText2{
    margin:30px auto;
    line-height: 1;
    color: var(--white);
    font-family: var(--heading);
    font-weight:lighter;
    font-size: 2.5rem;
    z-index: 1;     
}

.howItWorks{
    margin-top: 60px; 
    background: var(--black);
}

.blurb{
    color: var(--orange);
    background-color: var(--white);
    border-radius: 15px;
    margin: 50px auto;
    width: 80%;
    padding: 30px;
    text-align: center;
}

.text{
    font-family: var(--text);
    font-weight:bolder;
    font-size:1.5rem;
    padding: 20px 20px;
    line-height: 2rem;
}

/*Counter Section*/

.counterContainer{
    margin: 50px 10px; 
    background: var(--green);
    border-radius:5%;
    padding:5px;
    display:flex;
    justify-content: center;
}

.totals{
  padding:15px;  
}

#counterText1{
    margin-top: 50px;
    color: var(--white);
    font-size: 3rem;
}

#counterText2{
    margin: 10px auto;
    font-family: var(--text);
    text-align: center;
    font-size:4rem;
    color: var(--white);
}

#counterText3{
    color: var(--white);
    font-size: 3rem;
}

#counterText4{
    color: var(--white);
}

/* Media Query*/ 

@media only screen and (min-width: 1024px){


    .heroImg{

      height:auto;
      width: 50vh;
     max-width:100%
    }
     .heroVid{
      
        margin: 50px;
        object-fit:cover;
        height: auto;
        max-width: 100%;
   
    }  
    .overlayContainer{
        margin: 400px auto;
    }

    .arrow{
        z-index:100;
        margin-top: 5px;
         margin-right: 50%;
     }

    #line2, #line4{
        font-size: 3rem;
    }

    #line1, #line3{
        font-size: 5rem;
    }
    .cta-button{
        margin: 70px 500px;
        padding: 25px;
    }
     .featureProjects{
       height: auto;
        margin: 50px 200px;
      
    } 
    .features{
        margin-top:50px;
    }
    .overlayText2{
        margin:30px 400px;
    }

    .blurb{
        display: flex;
        justify-content: center;   
    }
    .counterContainer{
      margin-left: 380px;
       height: 50vh;
       width: 80vh;
       
    }

    } 

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .hero{
    
            width: 100vw;
            height: 100%;
            margin: 0 auto;
        }
        .heroImg{
            max-width: 100%;
            height:auto;
        }
        .overlayContainer{
            margin: 650px auto;
        }

        #line2, #line4{
            font-size: 3rem;
        }

        #line1, #line3{
            font-size: 5rem;
        }

        .cta-button{
            margin: 70px 250px;
            padding: 25px;
        }
         .featureProjects{
            margin: 50px 30px;
            padding: 30px;
        } 
        .overlayText2{
            margin:30px 180px;
        }
        .counterContainer{
            margin-left: 120px;
            height: 50vh;
            width: 50vh;
         }
    
    }
