@import '../vars.css';


.hero{
   position: relative;
   overflow: hidden; /*ensures the vid stays within the boundaries*/
}

.heroImg{
    width: 100%;
    height: auto;
}
.heroVid{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.search{
    color: var(--white);
    border: 0.5px solid white;
    margin: 90px 20px 30px 20px;
    z-index:0;
}

.overlayContainer{
    margin: 100% 0;
    
}

.overlay{
        position: absolute; 
        bottom:0;
        padding:30px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); 
        color: var(--white); 
        width: 100%;
        height:100%;
        transition: .5s ease;
        opacity:1;
        color: var(--ivory);
        text-align: center; 
                     
}

.overlayText{
    line-height: 1.25;
    color: var(--white);
    font-family: var(--heading);
    font-weight:lighter;
    font-size: 2.5rem;
    z-index: 1;    
}

.arrow{
   margin-top: 15%;
    margin-right: 90%;
}

.italic{
    font-style:italic;
}

#line1{
    margin-left: 15%;
    font-size: 3.5rem;
}

#line2{
    margin-left: 35%;  
}

#line3{
    margin-left:15% ;
    font-size:3.5rem ;
}

#line4{
    margin-left: 45%;
}

.cta-button{
    padding: 10px;
    text-align: center;
    margin: 50px 30px;;
    border: solid 1px var(--orange);
    border-radius: 15px;
}

/*Featured Projects section*/

.features{
    background: var(--blue);
   position:relative;
   overflow: hidden; 
}

.featureProjects{
    margin: 30px auto;
    width: auto;
    height:auto;
    padding: 30px;
}

.headingText{
    line-height: 1.25;
    color: var(--black);
    font-family: var(--heading);
    font-weight:lighter;
    font-size: 2.5rem;
    z-index: 1;
}

#headingline1{
    margin-left: 20px;
}

#headingline2{
    margin-left:90px;
}

/* How it works section */

.howItWorks{
    margin-top: 60px; 
    background: var(--black);
}

.blurb{
    color: var(--orange);
    background-color: var(--white);
    border-radius: 15px;
    margin: 50px auto;
    width: 80%;
    padding: 30px;
    text-align: center;
}

.text{
    font-family: var(--text);
    font-weight:bolder;
    font-size:x-large;
    padding: 20px 20px;
    line-height: 2rem;
}

/*Counter Section*/

.counterContainer{
    margin-top: 50px; 
    background: var(--green);
}

.totals{
  padding:10px;  
}

#counterText1{
    margin-top: 50px;
    color: var(--white);
}

#counterText2{
    margin: 10px auto;
    font-family: var(--text);
    text-align: center;
    font-size:4rem;
    color: var(--white);
}

#counterText3{
    color: var(--white);
}

#counterText4{
    color: var(--white);
}