:root {
    /* colours */
    --white: #ffffff;
    --black: #000000;
    --orange: #FF8300;
    --grey: #f1f1f1;
    --blue:#4682B4;
    --green:#2E8B57;

    /* fonts */
    --heading: "Roboto";
    --text: "Nunito";
}